{% load static %}
<a class="container post-card" href="{{ post.get_absolute_url }}">
    {% if post.image %}
    <div class="post-image">
        <img src="{{ post.image.url }}" alt="{{ post.post_title }}" />
    </div>
    {% endif %}
    <div class="post-text">
        <h4 class="post-title">
            {{ post.post_title }}
        </h4>
        <time class="post-date" datetime="{{ post.published_at|date:'c' }}">
            {{ post.published_at|date:"F j, Y" }}
        </time>
        <div class="post-preview">
            {{ post.post_preview }}...
        </div>
    </div>
</a>
