/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #FAFAFA;
  color: #333;
}
.main-container {
  width: 100%;           /* allow shrinking on small screens */
  max-width: 1000px;     /* never grow wider than 1200px */
  margin: 0 auto;        /* vertically 0, horizontally auto‐center */
  padding: 0 1rem;       /* optional side padding on small screens */
  box-sizing: border-box;/* include padding in the width calculation */
}

.nav-link {
  color: #333;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

.header {
  display: flex;
  height: 80px;
  align-items: center;
  border-radius: 4px;
  padding: 1rem 2rem;
  background: #fff;
  border-bottom: 1px solid #ddd;
}

.pages {
  margin-left: auto;
  display: flex;
  gap: 1.7rem;  /* adjust to taste (e.g. 1rem, 2rem, etc.) */
}


.name{
    font-weight: bold;
    font-size:24px;
}

.navbar {
    background-color: white;
}
.welcome {
  display: flex;
  width: 100%;
}

.hero{
  position: relative;
  max-height: 370px;
  max-width: 500px;
  margin-left: auto;
  margin-top: 48px;
}

.hero img{
  width: 100%;
  /* height: 100%; */
  display: block;
  border-radius: 8px; 
}

.hero-text {
    margin-top: 16px;
    margin-left: 80px;
}

.hero-text h1 {
  margin: 0;
  font-size: 30px;
  font-weight: bold;
}

.post-card {
  display: flex;
  align-items: flex-start;
  padding: 32px;
  gap: 64px;
  background: #fff;
  border-radius: 12px;
  margin-bottom: 32px;
  margin-top: 48px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
  color: inherit;
  text-decoration: none;
}

.post-card:hover {
  transform:translateY(-4px);
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease;
}

.post-image {
  flex-shrink: 0;
  width: 320px;
  height: auto;
}

.post-image img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.08);
}

.post-text {
  flex-grow: 1;
  padding-top: 8px;
}

.post-title {
  font-size: 24px;     /* from your font scale */
  font-weight: 700;
  margin-bottom: 12px;
}

.post-preview {
  font-size: 16px;
  line-height: 1.6;
  color: #444;
}

.posts-header{
  padding: 24px;
}

.post-detail{
  max-width: 700px;
  margin: 48px auto;
  padding: 16px;
  background: #fff;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.04);
  border-radius: 12px;
}
.post-detail img{
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

.post-title {
  font-size: 36px;
  margin: 24px 0 8px ;
}
.post-content {
  font-size: 18px;
  line-height: 1.8;
  padding: 0 16px 32px;
}