{% extends 'base.html'%}
{% load static %}
{% block body %}
<head>
    <link rel="stylesheet" href="{% static '/users/users.css' %}">
</head>

<body class="register-body">
    <div class="container login-card">
        <form method="POST" class="reg-form-wrapper">
            {% csrf_token %}
            {% for field in form %}
                <div class="reg-row">
                    <label for="{{ field.id_for_label}}">{{ field.label }}</label>
                    <div class="reg-input">
                        {{ field }}
                        {% for error in field.errors %} 
                            <div class="form-error">
                                {{ error }}
                            </div> 
                        {% endfor%}
                    </div>
                </div>
            {% endfor %}
            <div class="form-submit">
                <button type="submit" class="form-btn">Login</button>
            </div>
        </form>
    </div>
</body>


{% endblock %}